header {
    background-color: #ffffff;
}

.container {
    height: 70px;
    padding-left: 10px;
    padding-top: 10px;
}

.logo {
    margin-left: 5px;
}

.logo img{
    height: 50px;
    border: 0px solid;
}